<style>
  body{
  }
  h4{
    text-align:center;
    color:#009999;
  }
</style>

<div >
  <h4 >月儿弯弯 有你有我</h4>
</div>

<div class="col-sm-4">
  <!-- use accordion for index page -->
  <div class="panel-group" id="accordion">
    <% @articles.every_n_with_index(0,2) do |article,index| %>
      <%= render :partial=> 'article',locals: {article: article, index: index} %>
    <% end %>
  </div>
</div>

<div class="col-sm-4">
  <!-- use accordion for index page -->
  <div class="panel-group" id="accordion">
    <% @articles.every_n_with_index(1,2) do |article,index| %>
      <%= render :partial=> 'article',locals: {article: article, index: index} %>
    <% end %>
  </div>
</div>


<div class="col-sm-4">
<ul class="pager">
  <li><a href="#">Previous</a></li>
  <li><a href="#">Next</a></li>
</ul>

  <% if can? :new, :article %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_article_path,
              :class => 'btn btn-primary' %>
  <% end %>
<p> Recomended for you </p>
  <ul>
  <li> the moon man myth </li>
  <li> the ruby programming language </li>
  <li> The STL library </li>
  </ul>
</div>
