<div >
  <h4 >月儿弯弯 有你有我</h4>
  <div class="newButton">
  <% if can? :new, :article %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_article_path,
              :class => 'btn btn-primary' %>
  <% end %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <!-- use accordion for index page -->
    <div class="panel-group" id="accordion0">
      <% @articles.every_n_with_index(0,3) do |article,index| %>
      <% numAccd = 0 %>
        <%= render :partial=> 'article',locals: {article: article, index: index, numAccd: numAccd} %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-4">
    <!-- use accordion for index page -->
    <div class="panel-group" id="accordion1">
      <% @articles.every_n_with_index(1,3) do |article,index| %>
      <% numAccd = 1 %>
        <%= render :partial=> 'article',locals: {article: article, index: index, numAccd: numAccd} %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-4">
    <!-- use accordion for index page -->
    <div class="panel-group" id="accordion2">
      <% @articles.every_n_with_index(2,3) do |article,index| %>
      <% numAccd = 2 %>
        <%= render :partial=> 'article',locals: {article: article, index: index, numAccd: numAccd} %>
      <% end %>
    </div>
  </div>
</div>  <%# row %>

<ul class="pager">
<li><a href="#">Previous</a></li>
<li><a href="#">Next</a></li>
</ul>

