<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>


<!-- use accordion for index page -->
<div class="panel-group" id="accordion">
  <% @articles.each_with_index do |article,index| %>
    <%= render :partial=> 'article',locals: {article: article, index: index} %>
  <% end %>
</div>
  <% if current_user.can? :new, :article %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_article_path,
              :class => 'btn btn-primary' %>
  <% end %>
