#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


 .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
      opacity:0.5;
    }

.navbar-default{
  background-color:#cf5fd3;
}
.navbar{
  border-bottom-width:0px;
}
.navbar{
  border-bottom-width:0px;
}
.navbar-nav > li >a{
      color:#333333
}
.panel-title{
  font-size: 10px;
}

.panel-body{
  font-size: 10px;
}

